* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
    /* font-family: 'Titan One', cursive; */
}
:root {
    --orange1: #BB8F5A;
    --orange2: #FABE79;
    --orange3: #FDE7CD;
    --blue0: #32557d;
    --blue1: #5987BB;
    --blue2: #80B0DF;
    --blue3: #CDE2F6;
    --just-white:#FFFFFF;
    --orange:#FA8C04;
    --light-orange:#FEF1E0;
    --blue:#0472FA;
    --brown:#5E3502;
    --black:#000000;
}

.inactive {
    display: none;
}


/* HEADER */
header {
    display: flex;
    justify-content: left;
    height: 64px;
    width: 100%;
    align-items: center;
    background-color: var(--blue0);
}
.main_icon {
        height: 48px;
        width: 48px;
        margin: 8px 14px;
    }
h1 {
    font-family: 'Titan One', cursive;
    font-size: 4rem;
    font-weight: 400;
    line-height: 2.7rem;
    color: var(--just-white);
}




/* NAVBAR */
nav {
    background-color: var(--just-white);
}
nav ul {
    display: flex;
    margin: 0 14px;
    padding-top: 14px;
    align-items: center;
    font-size: 3rem;
    list-style: none;
    text-decoration: none;
    border-bottom: 3px solid var(--blue0);
}
nav ul li {
    display: flex;
    text-decoration: none;
    background-color: var(--blue2);
    padding: 6px 14px 4px 14px;
    border-radius: 14px 14px 0 0;
    margin: 0 7px;
}

nav ul li a {
    text-decoration: none;
    color: var(--black);
}

.selected {
    background-color: var(--blue3);
    transform: scale(1.2);
    transform-origin: bottom;
    transition: transform 0.2s ease-in-out;
    /* z-index: -0; */
}

/* MAIN */
main {
    width: 100%;
    padding: 14px;
    background-color: var(--just-white);;
}
/* pics */
.btnGenerate-container {
    display: flex;
    justify-content: center;
    margin: 0 auto ;
}
.buttom-generate {
width: 170px;
height: 38px;
border-radius: 4px;
margin-bottom: 14px;
font-size: 2rem;
font-weight: 400;
line-height: 19px;
color: var(--just-white);
background-color: var(--orange);
border: none;
}
button:hover{
cursor: pointer;
}
.pics-container {
    columns: 1;
    justify-self: center;
}
.pics-container article {
    width: 292px;
    position: relative;
    margin-bottom: 14px;
    justify-content: center;        
}
.DogImage {
    width: 292px;
    box-shadow: 0 4px 8px rgba(20, 20, 20, 0.20);
    border-radius: 16px;
}
.btnFav {
    position: absolute;
    top: 8px;
    left: 243px;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    border: none;
    border-radius: 50%;
    background-color: white;
    opacity: 70%;
}



/* FAVORITE SECTION */
h2 {
    font-weight: 800;
    font-size: 2.4rem;
    line-height: 2.9rem;
    color: var(--brown);
    margin-bottom: 12px;
}
#favorites {
    columns: 1;
    justify-self: center;
}
#favorites article {
    width: 292px;
    position: relative;
    margin-bottom: 14px;
    justify-content: center;    
}
#favorites article img {
    width: 292px;
    box-shadow: 0 4px 8px rgba(20, 20, 20, 0.20);
    border-radius: 16px;
}
#favorites article button {
    position: absolute;
    top: 8px;
    left: 248px;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 600;
    border: none;
    border-radius: 50%;
    background-color: white;
    opacity: 70%;
}



/* UPLOAD SECTION */

p {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.9rem;
    color: var(--black);
    margin-bottom: 16px;
}

.upload-box {
    display: flex;
    justify-content: center;
}

.upload-box form input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.upload-box form input {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}
.upload-box form button {
    width: 120px;
    margin: 20px auto;
    font-size: 2rem;
}



/* MEDIA */
@media (min-width:640px) {
    .pics-container {
        columns: 2;
    }
    #favorites {
        columns: 2;
    }
}
@media (min-width:930px) {
    .pics-container {
        columns: 3;
    }
    #favorites {
        columns: 3;
    }
}
@media (min-width:1210px) {
    .pics-container {
        columns: 4;
    }
    #favorites {
        columns: 4;
    }
}
@media (max-width:639px) {
    .pics-container {
        columns: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #favorites {
        columns: 1;
        /* display: flex; */
        flex-direction: column;
        align-items: center;
    }
}
